@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

:root {
    --white: #fff;
    --light-blue: #AEDCFF;
    --mid-blue: #327291;
    --dark-blue: #01172F;
    --black: #000;
    --red: #FF0000;
    --dark-red: #aa1212;
    font-family: "Lexend Deca";
}

* {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
}


html {
    margin: 0;
    padding: 0;
    max-width: 1920px;
}

body {
    section {
        padding-top: 6.4rem;
        padding-bottom: 3.2rem;
    }
}

.mobile-nav {
    display: none;
}

.desktop-nav {
    z-index: 99;
    position: fixed;
    top: 6.8rem;
    right: 9.6rem;
    width: 25%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    padding: 2.4rem 3.2rem;
    border: none;
    border-radius: 1.6rem;
    background-color: var(--light-blue);
}

.btn-nav {
    z-index: 99;
    position: fixed;
    top: 6.8rem;
    right: 9.6rem;
    width: fit-content;
    padding: 2.4rem 3.2rem;
    border: none;
    border-radius: 1.6rem;
    background-color: var(--light-blue);
}

a {
    color: var(--dark-blue);
    text-decoration: none;
    font-size: 2rem;
    font-weight: 300;
}

a:hover {
    color: var(--mid-blue);
}

.mobile-nav {
    display: none;
}

main {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: left;
    justify-content: center;
    padding-inline: 9.6rem;
    padding-bottom: 8rem;
}

p,
li {
    font-size: large;
    color: var(--mid-blue);
}

ul {
    margin-left: 4rem;
}

h1 {
    text-align: center;
    color: var(--mid-blue);
    font-weight: 700;
    font-size: clamp(3.2rem, 1.6rem + 3.3333vw, 4rem);
    margin-bottom: 1rem;
}

h2 {
    text-align: left;
    color: var(--dark-blue);
    font-size: 3.2rem;
    font-weight: 700;
    margin-bottom: 2.4rem;
}

h3 {
    text-align: left;
    font-size: 2.8rem;
    font-weight: 600;
    margin-bottom: 6.8rem;
}

h4 {
    font-size: 2.4rem;
    font-weight: 600;
    margin-bottom: 3.2rem;
}

.body1 {
    font-size: 2rem;
    font-weight: 400;
}

.body2 {
    font-weight: 300;
    font-size: 1.6rem;
}

.body3 {
    font-weight: 100;
    font-size: 1.2rem;
}

.landing-screen {
    align-self: center;
    position: relative;
    background-image: url(assets/veto-img-change-after-mail.webp);
    background-size: cover;
    background-position: center;
    width: 100vw;
    height: 80vh;
    display: flex;
    flex-direction: column;
    margin-bottom: 4rem;

    h2 {
        text-align: center;
        color: var(--mid-blue);
    }

    a {
        text-decoration: none;
    }

    a:hover {
        background-color: var(--dark-red);
    }

    p {
        color: var(--dark-blue);
    }
}

.phone-number {
    position: absolute;
    background-color: var(--red);
    color: var(--white);
    text-align: center;
    border-radius: 50px;
    font-size: 4rem;
    padding: 2.4rem 4rem;
    font-weight: 500;
    top: 50%;
    left: 37.5%;
}

.phone-number:hover {
    background-color: var(--dark-red);
    color: var(--white);
}

.hero {
    position: absolute;
    max-width: 50rem;
    width: 100%;
    text-align: center;
    background-color: var(--light-blue);
    border-radius: 50px;
    padding: 1.2rem;
    bottom: -3.4rem;
    left: 35vw;

    p {
        color: var(--dark-blue);
    }
}

.hero-section {
    /* height: 100vh; */
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 64px;

    h1,
    h2,
    h3,
    p,
    a {
        color: var(--mid-blue);
        text-align: center;
    }

    a {
        padding-top: 8px;
        font-size: large;
        text-align: center;
        margin-top: 4.8rem;

        img {
            width: 1vw;
        }
    }

    a:hover {
        color: var(--dark-blue);
    }
}


.advices {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 8rem;

    .advices-content {
        h4 {
            font-size: large;
        }

        p {
            padding-left: 6.4rem;
        }

    }

    .advices-section {
        display: flex;
        flex-direction: column;
        gap: 8rem;

        h4 {
            font-size: large;
            align-self: flex-start;
        }

        ul {
            padding-left: 4rem;
            align-self: start;
        }

        .advices-div {
            display: flex;
            margin-inline: 6.4rem;
            max-width: 75vw;
            width: 100%;
            gap: 2.4rem;
            align-items: center;
            justify-content: space-between;

            .advices-item {
                flex-direction: column;
            }
        }

        .advices-div:nth-child(1) {
            img {
                margin-right: 8rem;
            }
        }

        .advices-div:nth-child(2) {
            flex-direction: row-reverse;

            img {
                margin-left: 8rem;
            }
        }

        .img-alerts-signs,
        .img-not-doing {
            width: 10vw;
        }
    }

}


/* HISTORY SECTION */
.history {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.history-content {
    padding-left: 5rem;
    padding-right: 5rem;
    align-self: center;
}


/* VALUES SECTION */
.values {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 3rem;
}

.values-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8rem;
    padding-inline: 6.8rem;

    .values-content {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;

        img {
            width: 100%;
            overflow: hidden;
            border-radius: 16px;
        }
    }
}

.map {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 1500px;
    max-height: 600px;
    width: 100%;
    height: 100%;
}

iframe {
    border: 1px solid var(--mid-blue);
    border-radius: 8px;
    width: 100%;
    height: 70vh;
}


.footer-desktop {
    padding-inline: 16.4rem;
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    background-color: var(--light-blue);
    color: var(--dark-blue);
    height: 20vh;
    align-items: center;

    h3 {
        font-size: 2.4rem;
        text-align: center;
    }

    h4 {
        font-size: 2rem;
        text-align: center;
    }

    a,
    p {
        color: var(--dark-blue);
        text-decoration: none;
        font-size: 1.6rem;
        font-weight: 300;
    }

    .footer-1 {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 1.2rem;
        padding-left: 1.6rem;

    }

    .footer-2 {
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        padding-right: 1.6rem;
        gap: 1.6rem;

        div {
            display: flex;
            align-items: center;
        }
    }

    img {
        object-fit: contain;
        width: 2.4rem;
        margin-right: 1.6rem;
    }
}

.footer-mobile {
    display: none;
}

/* @media tablet*/
@media screen and (width<1025px) {
    .desktop-nav {
        display: none;
    }

    .mobile-nav {
        z-index: 99;
        display: flex;
    }

    .mobile-nav i {
        color: var(--dark-blue);
        position: fixed;
        top: 1.2rem;
        right: 2.4rem;
        font-size: 3rem;
        z-index: 202;
    }

    .modal {
        position: fixed;
        transition: top 1s;
        background-color: var(--light-blue);
        opacity: 0.9;
        width: 100%;
        height: 100%;
        top: -150vh;
        left: 0;
        z-index: 200;
    }

    .change-modal {
        top: 0;
    }

    .mobile-nav-list {
        position: fixed;
        display: flex;
        flex-direction: column;
        height: 100vh;
        width: 100vw;
        align-items: center;
        justify-content: center;
        gap: 4rem;
    }

    html {
        max-width: 1024px;
        width: 100%;
    }

    main {
        padding-inline: 4rem;
    }

    section {
        padding-top: 6%;
        padding-bottom: 4%;
    }

    p,
    li {
        font-size: 1.6rem;

    }

    h2 {
        font-size: large;
        padding-bottom: 5%;
    }

    span {
        font-size: x-small;
    }

    .hero {
        left: 25%;
    }

    .phone-number {
        font-size: 2rem;
        left: 30%5
    }

    .history-content {
        p {
            padding-top: 2rem;
            font-size: small;
        }
    }

    .advices {
        width: 100%;

        .advices-content {
            h4 {
                font-size: large;
            }

            p {
                padding-left: 3rem;
            }

        }

        .advices-section {
            display: flex;
            flex-direction: column;
            gap: 2.4rem;
            align-items: center;

            h4 {
                font-size: large;
                align-self: flex-start;
            }

            ul {
                padding-left: 2rem;
                align-self: start;
            }

            .advices-div:nth-child(2) {
                flex-direction: row;
                ;
            }

            .img-alerts-signs,
            .img-not-doing {
                display: none;
            }
        }

    }

    .values-grid {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 8rem;
        padding-inline: 4rem;

        .values-content {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;

            img {
                width: 100%;
                overflow: hidden;
                border-radius: 16px;
            }
        }
    }

    iframe {
        max-width: 850px;
        max-height: 400px;
        align-self: center;
        width: 100%;
        height: 100%;
    }

    .footer-desktop {
        p {
            font-size: small;
        }

        a {
            font-size: small;
        }
    }
}


/* @media phone */
@media screen and (width<770px) {
    html {
        max-width: 768px;
        width: 100%;
    }

    main {
        padding-inline: 2.4rem;
    }

    section {
        padding-top: 6%;
        padding-bottom: 4%;
    }

    p,
    li {
        font-size: small;
    }

    h2 {
        font-size: large;
        padding-bottom: 5%;
    }

    ul {
        padding-left: 1.2rem;
    }

    span {
        font-size: small;
    }

    .phone-number {
        padding: 0.8rem;
        font-size: 2rem;
    }

    .hero {
        left: 16%;
        font-size: small;
    }

    .values-content {
        grid-template-columns: repeat(2, 1fr);
        gap: 3.2rem;
    }

    .advices-div {
        width: 100%;
    }

    .map {
        width: 100%;
    }

    iframe {
        max-width: 768px;
        max-height: 450px;
        align-self: center;
        width: 80%;
        height: 100%;
    }

    .footer-desktop {
        padding-inline: 4rem;

        p,
        a {
            font-size: 1rem;
        }

        .footer-1 {
            padding-left: 0;
        }

        .footer-2 {
            padding-left: 0;
        }
    }
}

/* @media less 500px */
@media screen and (width<500px) {
    .hero-section {
        a {
            text-decoration: underline;
        }
    }

    .hero {
        /* < REVOIR left > */
        left: 0%;
        width: 90%;
    }

    .phone-number {
        padding-inline: 2.4rem;
        left: 20%;
    }

    .values-grid {
        padding-inline: 2.4rem;
        gap: 3.2rem;
    }

    .footer-desktop {
        display: none;
    }


    .footer-mobile {
        padding: 4rem 2.4rem;
        display: flex;
        flex-direction: column;
        gap: 2.4rem ;
        background-color: var(--light-blue);
        color: var(--dark-blue);
        align-items: center;

        h3 {
            font-size: 2.4rem;
            text-align: center;
        }

        h4 {
            font-size: 2rem;
            text-align: center;
        }

        a,
        p {
            color: var(--dark-blue);
            /* text-decoration: underline; */
            font-size: 1.6rem;
            font-weight: 300;
        }

        .footer-1 {
            display: flex;
            flex-direction: column;
            gap: 1.2rem;
            text-align: center;

            a{
                text-decoration: underline;
            }
        }
        
        .footer-2 {
            display: flex;
            flex-direction: column;
            align-items: flex-end;
            padding-right: 1.6rem;
            gap: 1.6rem;

            a{
                text-decoration: underline;
            }
            
            div {
                display: flex;
                align-items: center;
            }
        }

        img {
            object-fit: contain;
            width: 2.4rem;
            margin-right: 1.6rem;
        }
    }
}