@import "./variables";
@import "./mixins";
@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@100..900&display=swap');

:root {
    --white: #fff;
    --light-blue: #AEDCFF;
    --mid-blue: #327291;
    --dark-blue: #01172F;
    --black: #000;
    --red: #FF0000;
    font-family: "Lexend Deca";
}

* {
    padding: 0;
    margin: 0;
    font-size: 62.5%;
}


html {
    margin: 0;
    padding: 0;
    max-width: 1920px;
}

body {
    /* background-size: contain;
	background-image: url(../assets/double-square-cross.webp);
	background-repeat: no-repeat;
	background-image: none; */

    section {
        padding-top: 64px;
        padding-bottom: 3rem;
    }
}

nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: var(--light-blue);
    /* margin-bottom: 5rem;
    width: 100%;
    height: 5rem; */

    a {
        color: var(--mid-blue);
        text-decoration: none;
        font-size: 2rem;
        font-weight: 300;
    }

    a:hover {
        color: var(--dark-blue);
    }
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

p,
li {
    font-size: large;
    color: var(--mid-blue);
}

h1 {
    text-align: center;
    color: var(--mid-blue);
    font-weight: 700;
    font-size: clamp(3.2rem, 1.6rem + 3.3333vw, 5.6rem);
}

h2 {
    text-align: left;
    color: var(--dark-blue);
    font-size: 3.2rem;
    padding-bottom: 9%;
}

h3 {
    text-align: center;
}

span {
    text-align: center;
    font-size: x-large;
    font-weight: bold;
}

/*
// header {
// 	display: flex;
// 	flex-direction: column;
// 	align-items: center;
// 	color: $blue_dark;
// 	width: 100%;

// 	div {
// 		display: flex;
// 		flex-direction: column;
// 		align-items: center;
// 		font-size: xx-large;
// 		font-weight: bold;

// 		@include respond(tablet) {
// 			font-size: large;
// 			max-width: 100%;
// 		}

// 		@include respond(mobile) {
// 			font-size: x-small;
// 			max-width: 100%;
// 		}

// 	}
// }
*/

.phone {
    width: 100%;
    display: flex;
    flex-direction: column;

    h2 {
        text-align: center;
        color: var(--mid-blue);
    }

    a {
        text-decoration: none;
    }
}

.phone-number {
    background-color: var(--red);
    color: var(--white);
    align-self: center;
    max-width: 35rem;
    max-height: 5rem;
    width: 100%;
    height: 100%;
    text-align: center;
    justify-content: center;
    border-radius: 50px;
    font-size: 4rem;
    padding: 1.6rem;
}

.hero {
    max-width: 50rem;
    width: 100%;
    text-align: center;
    background-color: var(--light-blue);
    color: var(--dark-blue);
    padding-top: 0.1rem;
    padding-bottom: 0.1rem;
    padding-right: 3rem;
    padding-left: 3rem;
    border-radius: 50px;
    margin-top: 5rem;

    p {
        padding: 4px 4px;
    }
}

.landing-screen {
    background-image: src('assets/hero-picture.webp');
    background-size: cover;
    /* height: 100vh; */
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 64px;

    img {
        width: 100%;

    }

    p {
        color: var(--mid-blue);
    }

    a {
        padding-top: 8px;
        text-decoration: none;
        color: var(--dark-blue);
        font-size: large;
        text-align: center;
    }

    a:hover {
        color: var(--mid-blue);
    }
}


/* advices not done yet, finish it before thuesday evening */

/* pas fait reponsive */
.advices {
    max-width: 70%;

    .advices-section {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        padding-left: 80px;
        width: 100%;

        @media screen and (width<1024px) {
            flex-direction: column;
            /* justify-content: ; */
            width: 100%;
        }

        h4 {
            align-self: flex-start;
            font-size: large;
        }

        .not-doing {
            padding-top: 80px;


            @media screen and (width<768px) {
                padding-top: 8%;
            }
        }

        .img-alerts-signs {
            width: 30%;
            height: 35%;
            object-fit: contain;
            padding-left: 6rem;
            padding-top: 5rem;
        }

        .alerts-signs {
            padding-top: 3rem;

            @media screen and (width<768px) {
                padding-top: 8%;
            }

        }

        .img-not-doing {
            padding-top: 3rem;
            padding-bottom: 2rem;
            padding-left: 5rem;
            width: 30%;
            height: 40%;
            object-fit: contain;
        }
    }
}

/* // advices not done yet, finish it before thuesday evening */






.history {
    display: flex;
    flex-direction: column;
    width: 80%;
}

.history-content {
    padding-left: 5rem;
    padding-right: 5rem;
    align-self: center;
}

.values {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-bottom: 3rem;
}

.values-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5.6rem;

    .values-content {
        display: flex;
        flex-direction: column;
        gap: 2.4rem;

        img {
            width: 100%;
            overflow: hidden;
            border-radius: 16px;
        }
    }
}

.map {
    display: flex;
    flex-direction: column;
    align-self: center;
    max-width: 1920px;
    max-height: 800px;
    width: 80%;
    height: 100%;
}

iframe {
    border: 1px solid var(--mid-blue);
    border-radius: 8px;
    width: 100%;
    height: 70vh;
}


footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
    background-color: var(--light-blue);

    p {
        color: var(--dark-blue);
    }

    li {
        color: var(--mid-blue);
    }

    img {
        object-fit: contain;
        width: 1rem;
    }

}


/* @media tablet*/

@media screen and (width<1024px) {
    html {
        max-width: 1024px;
        width: 100%;
    }

    section {
        padding-top: 6%;
        padding-bottom: 4%;
    }

    p,
    li {
        font-size: x-small;

    }

    h2 {
        font-size: large;
        padding-bottom: 5%;
    }

    span {
        font-size: x-small;
    }

    .phone-number {
        font-size: 2rem;
        padding: 1.2rem;
    }

    .hero {
        max-width: 100%;
        width: 80%;
    }

    .landing-screen a {
        font-size: x-small;
    }
}


/* @media phone */
@media screen and (width<768px) {
    html {
        max-width: 768px;
        width: 100%;
    }

    section {
        padding-top: 6%;
        padding-bottom: 4%;
    }

    p,
    li {
        font-size: small;

    }

    h2 {
        font-size: x-small;
        padding-bottom: 5%;
    }

    span {
        font-size: small;
    }

    .phone-number {
        padding: 0.8rem;
        font-size: 2rem;
    }

    .hero {
        max-width: 100%;
        width: 80%;
        font-size: small;
    }

    .landing-screen a {
        font-size: small;
    }

    .values-content {
        grid-template-columns: repeat(2, 1fr);
        gap: 3.2rem;
    }

    .map {
        width: 80%;
    }

    iframe {
        max-width: 450px;
        max-height: 768px;
        align-self: center;
        width: 70%;
        height: 100%;
    }
}

/* @media less 500px */
@media screen and (width<500px) {
    .values-content {
        grid-template-columns: 1fr;
        padding-inline: 5rem;
    }
}